@model IEnumerable<KarabosStudyGroup.Models.Study>

@{
    ViewBag.Title = "StudyView";
}

<h2>StudyView</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentNumber)
        </th>
        <th>
            Link to personal page
        </th>
    </tr>

    @foreach (var item in Model) //For each person
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentNumber)
            </td>
            <td>
                <button type="button" onclick="window.location.href='@Url.Content(item.myLink)'">
                @Html.DisplayNameFor(model => model.myLink)
                </button>
            </td>


        </tr>
    }

</table>
